<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Reset your password</h1>

            <div class="alert alert-danger">
                <strong>E-Mail address isn't registered!</strong> Please check and try again.
            </div>

            <div class="alert alert-warning">
                <p translate="reset.request.messages.info">Enter the e-mail address you used to register.</p>
            </div>

            <div class="alert alert-success">
                <p translate="reset.request.messages.success">Check your e-mails for details on how to reset your password.</p>
            </div>

            <form ng-show="!vm.success" name="form" role="form" novalidate >
                <div class="form-group">
                    <label class="control-label" for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email">
                    <div>
                        <p class="help-block">
                            Your e-mail is required.
                        </p>
                        <p class="help-block">
                            Your e-mail is invalid.
                        </p>
                        <p class="help-block">
                            Your e-mail is required to be at least 5 characters.
                        </p>
                        <p class="help-block">
                            Your e-mail cannot be longer than 100 characters.
                        </p>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Reset</button>
            </form>

        </div>
    </div>
</div>
