<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 translate="activate.title">Activation</h1>

            <div class="alert alert-success" *ngIf="(activation | async)?.inProgress" >
                Activating your account. Please wait.
            </div>
            <div class="alert alert-success" *ngIf="(activation | async)?.success" >
                <strong>Your account has been activated.</strong> Please <a [routerLink]="['/Login']">login</a>.
            </div>
            <div class="alert alert-success" *ngIf="!((activation | async)?.success)" >
                Error activating your account. Please contact support. {{(activation | async)?.error}}
            </div>

        </div>
    </div>
</div>